Task2_Workflow_PremKumar.json.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "c677a5f1-38b5-4d12-86cd-1cf827b0627c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.github.com/search/repositories?q=topic:javascript&sort=stars&order=desc",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "e9238273-7596-4a45-8f83-9260ec05d157",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const repos = items[0].json.items;\n\nconst topRepos = repos\n  .sort((a, b) => b.stargazers_count - a.stargazers_count)\n  .slice(0, 5);\n\nreturn topRepos.map(repo => {\n  return {\n    json: {\n      name: repo.full_name,\n      stars: repo.stargazers_count,\n      url: repo.html_url,\n      description: repo.description\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "fe9f364c-ce00-421a-96d7-416d726a1762",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "afa360a1-e12b-4e93-abf1-4561edc11279",
              "leftValue": "={{$json[\"stars\"]}}",
              "rightValue": 50000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "2be94ef9-3da7-449f-81c5-e497235db94d",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1508876164922478662/Tzu9-8rQLcFWCC-6ie144rGLbDKdTB849WbYhdwlMRMUuUF4zyt66uZPeQ4vzd1CngeS",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"🔥 {{$json.name}}\\n⭐ {{$json.stars}}\\n🔗 {{$json.url}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        -176
      ],
      "id": "bcfe9084-5912-41ea-8f5d-3b8f23815c0a",
      "name": "HTTP Request1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        112
      ],
      "id": "d4ab2fff-255a-4c5d-8319-50ca514804a7",
      "name": "HTTP Request2",
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5a6f2783-f176-4ae6-98d8-b7844803854b",
  "meta": {
    "instanceId": "4c979f7e3b1f3bf116c61ad579efb8b6e39dfa429b6ddca9cf811cb06fc6c9f9"
  },
  "id": "8NubiWOxrWkF0aoN",
  "tags": []
}